body {
    font-family: "微软雅黑";
    padding: 0px;
    margin: 0px;
    background-color: #fff;
}

a {
    text-decoration: none;
    color: black;
}

em,
i {
    font-style: normal;
}

div {
    display: block;
}

form {
    display: block;
    margin-top: 0em;
}

label {
    cursor: default;
}

li {
    display: block;
}

* {
    margin: 0;
    padding: 0;
}


/* 导航开始 */

.nav {
    width: 100%;
    height: 1rem;
    /* background-color: red; */
}

.nav-left {
    width: 50%;
    height: 100%;
    position: relative;
    float: left;
}

.nav-logo {
    position: absolute;
    width: 2.7rem;
    height: 0.6rem;
    margin: 0.2rem auto;
    left: 0;
    right: 0;
}

.nav-logo img {
    width: 100%;
    height: 100%;
    display: block;
}

.nav-right {
    float: left;
    /* background-color: blue; */
    width: 50%;
    height: 0.57rem;
    position: relative;
}

.nav-right-i {
    position: absolute;
    float: right;
    right: calc(6%);
    bottom: 0;
    /* background-color: saddlebrown; */
    width: 0.3rem;
    height: 0.14rem;
}

.nav-right-one {
    position: relative;
    width: 0.3rem;
    height: 0.03rem;
    font-size: 0.3rem;
    float: left;
    background: #3b78d4;
    margin-bottom: 0.03rem;
}

.nav-right-list {
    position: absolute;
    left: -100%;
    overflow: hidden;
    top: 0;
    width: 0px;
    height: 100vh;
    float: right;
    /* width: 7.5rem;
    height: 100vh; */
    background-color: red;
    transition: all 0.5s ease;
    z-index: 999;
}

.nav-list-left {
    width: 0.75rem;
    height: 100%;
    background-color: gray;
    float: left;
}

.nav-list-right {
    width: calc(100% - 0.75rem);
    height: 100%;
    background-color: white;
    float: left;
}

.nav-list-right-li {
    margin: 0.1rem 0;
    line-height: 0;
    font-size: 0;
}

.nav-list-right-li a {
    font-family: arial;
    width: 100%;
    font-size: 0.18rem;
    line-height: 20px;
    float: left;
}

.nav-li-box {
    width: 0.4rem;
    height: 0.4rem;
    /* background-color: #999999; */
    background-image: url(../img/xia.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
    /* transform: rotate(90deg); */
    margin-right: 1.5rem;
    /* font-weight: 400; */
    /* display: block; */
}

.nav-li-ul {
    width: 100%;
    display: block;
    transition: all 1s ease;
}

.nav-li-ul li {
    background-color: #bdbdbd;
    border-bottom: 1px solid #000;
    font-family: arial;
    width: 100%;
    font-size: 0.18rem;
    line-height: 20px;
    float: left;
}


/* 导航结束 */


/* banner开始 */

.banner {
    margin-top: 1px;
    width: 100%;
    height: 316.5px;
    background-image: url(../img/about-banner.jpg);
    background-position: center bottom;
    overflow: hidden;
}


/* banner结束 */


/* banner1开始 */

.banner1 {
    position: relative;
    width: 100%;
    height: 110.5px;
    /* float: left; */
    /* background-color: yellow; */
}

.banner1-box {
    width: 100%;
    height: 80px;
    float: left;
    margin-bottom: 2%;
}

.banner1-box1 {
    float: left;
    /* padding: 1px; */
    /* width: 24.91%; */
    width: calc(25% - 1px);
    height: 80px;
    border-right: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
    text-align: center;
    color: #333;
    cursor: pointer;
}

.banner1-box1:hover {
    background-color: #3b78d4;
}

.banner1-box1:hover a {
    color: #fff;
}

.banner1-box1 a {
    font-size: 16px;
    line-height: 80px;
}


/* banner1结束 */


/* banner2开始 */

.banner2 {
    width: 100%;
    height: 8.54rem;
    /* background-color: violet; */
    position: relative;
    /* text-align: center; */
}

.banner2-box {
    width: 100%;
    height: auto;
}

.banner2-title {
    position: relative;
    width: 99%;
    float: left;
    margin-left: 0.5%;
    text-align: center;
    margin-top: 2%;
    padding-bottom: 1.5%;
    border-bottom: 0.01rem solid #e8e8e8;
}

.banner2-title h1 {
    color: #262626;
    font-family: inherit;
    font-size: 0.2rem;
    font-weight: 500;
    line-height: 1.1;
}

.banner2-p {
    font-size: 14px;
    line-height: 36px;
    color: #666;
    float: left;
    text-align: left;
    text-indent: 2em;
    margin-left: 0.5%;
    margin-top: 1%;
    margin-right: 0.5%;
}

.banner2-img {
    float: left;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
}


/* banner2结束 */


/* copy开始 */

.copy {
    position: relative;
    margin-top: 4rem;
    height: 4.07rem;
    width: 100%;
    background-image: url(../img/copy-back.jpg);
    background-attachment: fixed;
}

.copy-box {
    position: relative;
    float: left;
    height: 2.67rem;
    width: 99%;
    /* background-color: red; */
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 0.5%;
}

.copy-box1 {
    width: 20%;
    float: left;
}

.copy-box1-title {
    font-size: 0;
    line-height: 0;
    /* margin-bottom: 1%; */
}

.copy-box1-title span {
    font-size: 0.16rem;
    line-height: 2.5;
    color: #fff;
}

.copy-box1-span {
    line-height: 0.01;
}

.copy-box1-span span {
    font-size: 0.14rem;
}

.copy-box1-span a {
    line-height: 0.31rem;
    font-size: 0.14rem;
    color: #fff;
    font-family: arial;
}

.copy-saoma {
    width: 10.28%;
    float: right;
    text-align: center;
}

.copy-saoma img {
    float: right;
}

.copy-saoma span {
    line-height: 1.1;
    color: #FFFFFF;
    font-size: 14px;
}

.copy-line {
    position: relative;
    float: left;
    height: 20px;
    width: 100%;
}

.copy-line span {
    /* padding-top: 9px; */
    margin-top: 9px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    height: 2px;
    line-height: 20px;
    display: block;
}

.copy-right {
    position: relative;
    margin-top: 0.5%;
    float: left;
    width: 100%;
    text-align: center;
    line-height: 36px;
}

.copy-right p {
    position: relative;
    height: 36px;
    text-align: center;
    line-height: 36px;
    font-size: 12px;
    color: #FFFFFF;
}

.copy-right a {
    color: #FFFFFF;
}


/* copy结束 */